<footer>
  <div class="row">
    <div class="col-lg-12">
      <!-- <div class="row">
        <div class="col-lg-6 col-md-6">
          <h3>Contact:</h3>
          <p>Have a question or feedback? Contact me!</p>
          <p><a href="" title="Contact me!"><i class="fa fa-envelope"></i> Contact</a></p>
        </div>

        <div class="col-lg-6 col-md-6">
          <h3>Link to the project: <a href="https://github.com/Team-The-Heady-Squids/angular-course-project" target="_blank"
              title="GitHub">
              <span class="fa-stack fa-lg">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-github fa-stack-1x"></i>
              </span>GitHub</a>
          </h3>
        </div>
      </div> -->

      <div class="footer-bottom">
        <div class="container">
          <p class="pull-left"> Copyright © Team The Heady Squids 2017. All right reserved. </p>
          <p class="text-right">Link to the project: <a href="https://github.com/Team-The-Heady-Squids/angular-course-project" target="_blank"
            title="GitHub">
            <span class="fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x"></i>
            </span>GitHub</a>
          </p>
        </div>
      </div>

    </div>
  </div>
</footer>
