<div class="row style-header">
  <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
    <!-- <div class="panel-heading text-center">
      <h1><strong>{{forumThread.title}}</strong></h1>
    </div>
    <div class="panel-body">
      <p>Author: <a [routerLink]="[ '/users', forumThread.author ]">{{forumThread.author}}</a></p>
      <p>{{forumThread.created | date:'medium'}}</p>
      <p class="well well-sm">{{forumThread.originalPost.content}}</p>
      <hr> -->

    <div class="row">
      <div class="col-sm-offset-1 col-md-offset-1">
        <h2>Title: <strong>{{forumThread.title}}</strong></h2>
      </div>
      <div class="col-sm-12 col-md-12 style-time">
        <p>{{forumThread.created | date:'medium'}}</p>
      </div>
    </div>

    <div class="row style-cont">
      <div class="col-sm-3 col-md-3 style-left">
        <p>Author: <a [routerLink]="[ '/users/username', forumThread.author ]">{{forumThread.author}}</a></p>
      </div>
      <div class="col-sm-9 col-md-9 style-right">
        <p>{{forumThread.originalPost.content}}</p>
      </div>
    </div>

    <!--
    <ul class="posts-list">
      <li class="posts-item" *ngFor="let post of forumThread.posts">
        <app-forum-post  *ngFor="let post of forumThread.posts" [post]="post" [threadId]="forumThread.id" (postEdited)="updateThread($event)"></app-forum-post>
      </li>
    </ul> -->
    <!-- <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1"> -->

    <!-- </div>
        </div> -->
    <app-forum-post *ngFor="let post of forumThread.posts" [post]="post" [threadId]="forumThread.id" (postEdited)="updateThread($event)"></app-forum-post>

    <app-forum-post-create [threadId]="forumThread.id" (postCreated)="appendPost($event)"></app-forum-post-create>
    <div class="text-center">
      <button class="btn btn-primary" (click)="goBack()">Back</button>
    </div>
  </div>
</div>
