<h1>{{profile.username}}'s profile</h1>
<p>Joined: {{profile.joined | date:'medium'}}</p>
<input  type="button"
        (click)="controlsCollapsed = !controlsCollapsed"
        value="Controls">
<div class="row" *ngIf="!controlsCollapsed">
  <form class="col-md-4"
        [formGroup]="changePassForm"
        (ngSubmit)="changePassword(passForm.value)"
        #passForm=ngForm>
    <div class="form-group">
      <input  class="form-control"
              type="password"
              placeholder="Old password"
              formControlName="oldPassHash">
    </div>
    <div class="form-group">
      <input  class="form-control"
              type="password"
              placeholder="New password"
              formControlName="newPassHash">
    </div>
    <div class="form-group">
      <input  class="form-control"
              type="password"
              placeholder="Repeat new password"
              formControlName="newPassHashRepeat">
    </div>
    <input  class="btn btn-sm btn-success"
            type="submit"
            value="Change password">
  </form>
</div>