<div class="panel panel-primary">
  <div class="panel-body">
    <div class="col-md-4 text-left title-color">
      <h4 class="panel-title text-center"><a [routerLink]="[ '/forum', forumThread.id ]">Title: {{forumThread.title | reduceTextLength: 20}}</a></h4>
      <h4 class="panel-title text-center">Category: {{forumThread.category}}</h4>
    </div>
    <div class="col-md-3 text-right">
      <p>Posts: {{forumThread.posts.length + 1}}</p>
      <p>Original post: {{forumThread.originalPost.content | reduceTextLength: 20}}</p>
    </div>

    <div class="col-md-4 text-right">
      <p>Author: <a [routerLink]="[ '/users/username', forumThread.author ]">{{forumThread.author}}</a></p>
      <p>Created: {{forumThread.created | date:'medium'}}</p>
    </div>

    <div *ngIf="currentUser && currentUser === forumThread.author">
      <div class="col-md-1 text-right">
        <button class="btn btn-danger" (click)="deleteThread()">Delete</button>
      </div>
    </div>

  </div>
</div>