/* You can add global styles to this file, and also import other style files */
.large {
  font-size: 200%;
}

.hidden {
  display: none;
}

.field-required {
  color: lightcoral;
  font-size: 120%;
  padding: 0px 20px;
}

textarea {
  resize: none;
}

.posts-list {
  list-style-type: none;
}