.style-header {
  border-left: 2px solid #423D3D;
}

.style-time {
  padding-top: 8px;
  padding-left: 18px;
  background-color: #222222;
  color: white;
}

.style-cont {
  height: 130px;
}

.style-left {
  height: 100%;
  padding: 30px;
  border: 2px solid #423D3D;
}

.style-right {
  height: 100%;
  border: 2px solid #423D3D;
  padding: 30px;
}
