<!-- <div class="row">
  <div class="col-md-4" appZoomInText>
    <p>Author: <a [routerLink]="[ '/users', post.author ]">{{post.author}}</a></p>
    <p>{{post.created | date:'medium'}}</p>
    <p class="well well-sm">{{post.content}}</p>
    <hr>
  </div>
  <div *ngIf="currentUser && currentUser === post.author" class="col-md-4">
    <input type="button" (click)="controlsCollapsed=!controlsCollapsed" value="Show controls">
    <div *ngIf="!controlsCollapsed">
      <form (ngSubmit)="editPost(editForm.value)" #editForm=ngForm>
        <div>
          <input type="text" name="content" placeholder="New content" (ngModel)="content">
        </div>
        <input type="submit" value="Edit post">
      </form>
      <input type="button" value="Delete post" (click)="deletePost()">
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col-sx-11 col-sx-offset-1 col-sm-11 col-sm-offset-1 col-md-11 col-md-offset-1 style-cont">

    <div class="row">
      <div class="col-sm-12 col-md-12 style-time">
        <p>{{post.created | date:'medium'}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 col-md-3 style-left">
        <p>Author: <a [routerLink]="[ '/users/username', post.author ]">{{post.author}}</a></p>
        <div *ngIf="currentUser && currentUser === post.author" class="col-md-4">
          <input class="btn btn-primary" type="button" (click)="controlsCollapsed=!controlsCollapsed" value="Show controls">
          <div class="absolute" *ngIf="!controlsCollapsed">
            <form [formGroup]="editPostForm"
                  (ngSubmit)="editPost(editForm.value)"
                  #editForm=ngForm>
              <div>
                <input  type="text"
                        placeholder="New content"
                        formControlName="content">
              </div>
              <input  class="btn btn-success" 
                      [disabled]="!editForm.valid"
                      type="submit" value="Edit post">
            </form>
            <input class="btn btn-danger" type="button" value="Delete post" (click)="deletePost()">
          </div>
        </div>
      </div>

      <div class="col-sm-9 col-md-9 style-right">
        <p appZoomInText class="well well-sm">{{post.content}}</p>
        <p *ngIf="post.lastEdited">Last edited: {{post.lastEdited | date:'medium'}}</p>
      </div>
    </div>
  </div>
</div>
