<li *ngIf="user" class="well well-sm">
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{user}}
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a [routerLink]="[ '/users', 'profile' ]">Profile</a></li>
      <li><a (click)="logout();">Logout</a></li>
    </ul>
  </div>
</li>

<li *ngIf="!user" class="well well-sm">
  <a class="btn btn-default btn-sm" [routerLink]="[ '/users/login' ]">Login</a>
  <span> or </span>
  <a class="btn btn-default btn-sm" [routerLink]="[ '/users/register' ]">Register</a>
</li>
